// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$dark-green: #43c0a6;
$light-green: #57d9ad;
$light-yellow: #ffda2d;
$dark-yellow:#fcbf2a;
$light-pink: #ffe6b3;
$dark-pink:#ffca80;
$gray: #766e6e;
