<%= render "shared/banner" %>


<div class= "card-container">
  <% @cocktails.each do |cocktail| %>
<div class="card-product">
 <%= cl_image_tag cocktail.photo %>
  <div class="card-product-infos">
      <h2><%= cocktail.name %></h2>
      <p><%= link_to "See details", cocktail_path(cocktail.id) %></p>
  </div>
</div>
<% end %>

</div>


