<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/997725/pexels-photo-997725.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <div class="container">
    <h1>You thirsty?</h1>
    <p>Explore local breweries with just one click, pepare them at home, enjoy.</p>
    <i><%= render "shared/search_form" %></i>
  </div>
</div>


