.footer-lewagon {
  justify-content: center;
  background: #FFF465;
  opacity: 0,5;
  font-size: 14px;
  padding: 25px 15px 65px 25px;
}

.footer-lewagon .navbar-collapse {
  flex-grow: 0;
}

.footer-lewagon .navbar-brand img {
  width: 40px;
}
