.navbar-lewagon {
  justify-content: flex-start;
  background: white;
  font-size: 14px;
  padding: 25px 15px 15px 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}


