<div class="container"> <!-- Div 1 qui comprend toute la page -->

  <div class="row">  <!-- row A qui fait toute la largeur du site -->
    <div class="col-lg-12"><!-- soit 12 colonnes -->
    </div>
  </div> <!-- cloture row A -->

  <div class="row"> <!-- row B qui fait toute la largeur du site -->
    <div class="col-lg-12">Banner, background image avec la search
    </div>
  </div> <!-- cloture row B -->

  <div> <!-- div 2 où je vais caler 3 blocs d'inspiration-->
    <div class="row"> <!-- row C qui fait toute la largeur du site -->
      <div class="col-lg-1"></div> <!--sera vide-->
      <div class="col-lg-10"><!--Div 3 qui va devenir une row de 12 colonnes, pour faire mes 3 blocs d'inspiration-->
        <div class="row">
          <div class="col-lg-4">Inspiration 1</div> <!--j'ai donc un bloc de 4 colonnes de large-->
          <div class="col-lg-4">Inspiration 2</div> <!--2eme bloc-->
          <div class="col-lg-4">Inspiration 3</div> <!--3ème bloc-->
        </div>
      </div> <!--cloture div 3-->
      <div class="col-lg-1"></div> <!--sera vide-->
    </div> <!-- cloture row C -->
  </div> <!-- cloture div 2 -->

  <div class="row"> <!-- row D qui fait toute la largeur du site -->
    <div class="col-lg-12">Des pictos et du blabla
    </div>
  </div> <!-- cloture row D -->

  <div> <!-- div 4 où je vais caler 2 blocs de contenu divers-->
    <div class="row"> <!-- row E qui fait toute la largeur du site -->
      <div class="col-lg-1"></div> <!--sera vide-->
      <div class="col-lg-10"><!--Div 5 qui va devenir une row de 12 colonnes, pour faire mes 2 blocs de contenu-->
        <div class="row">
          <div class="col-lg-6">Contenu 1</div> <!--j'ai donc un bloc de 6 colonnes de large-->
          <div class="col-lg-6">Contenu 2</div> <!--2eme bloc-->
        </div>
      </div> <!--cloture div 5-->
      <div class="col-lg-1"></div> <!--sera vide-->
    </div> <!-- cloture row E -->
  </div> <!-- cloture div 4 -->

  <div class="row"> <!-- row F qui fait toute la largeur du site -->
    <div class="col-lg-12">Un texte ou une citation ou autre...
    </div>
  </div> <!-- cloture row F -->

  <div class="row"> <!-- row G qui fait toute la largeur du site -->
    <div class="col-lg-12">Un texte ou une citation ou autre...
      <div>Pour mettre le carroussel il faudra un div?</div>
    </div>
  </div> <!-- cloture row G -->


  <div> <!-- div 6 pour faire un footer avec 3 colonnes-->
    <div class="row"> <!-- row H qui fait toute la largeur du site -->
      <div class="col-lg-3"></div> <!--sera vide-->
      <div class="col-lg-6"><!--Div 7 qui va devenir une row de 12 colonnes, pour faire mes 3 blocs de contenu-->
        <div class="row">
          <div class="col-lg-4">About us</div> <!--j'ai donc un bloc de 6 colonnes de large-->
          <div class="col-lg-4">Follow us</div> <!--2eme bloc-->
          <div class="col-lg-4">Terms & cond</div> <!--3eme bloc-->
        </div>
      </div> <!--cloture div 7-->
      <div class="col-lg-3"></div> <!--sera vide-->
    </div> <!-- cloture row H -->
  </div> <!-- cloture div 6 -->

</div> <!-- cloture Div 1 -->




